@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: hidden;
}

body{
	min-height: 100%;
	font-family: "arial", "sans-serif";
}

*{
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	text-align: center;
	border: 1px solid black;

	.container {
		position: relative;
		width: 80%;
		margin:	auto;
		border: 1px solid black;
		overflow: hidden;

		nav {
			h1 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				border: 1px solid black;
				margin: 0;
			}
		}

		.loggedPlayer {
		    text-align: left;
			.profilePicture {
				float: left;
				width: 10%;
				height: inherit;
				border: 1px solid black;

				img {
					width: 100%;
				}
			}
			.playerPlatform {
				float: right;
				width: 10%;
				height: inherit;
				border: 1px solid black;
				img {
					width: 100%;
				}
			}
			.displayName {
				border: 1px solid black;
			}
			.playerInfo {
				height: inherit;
				border: 1px solid black;

				.totalPlaytime {

				}

				p {
					margin: 0;
					display: inline-block;
					border: 1px solid black;
				}
			}

		}

		.characters {
			border: 1px solid black;
		}
	}
}
